<!-- Delete Modal -->
<div id="ModalDelete" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><span class="badge badge-danger">刪除</span> {% block title %}{% endblock %}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="text-danger">
        <h5 class="">你確定要刪除資料?</h5><br>
        <p class="">當你點擊按鈕，此資料將會被刪除掉。</p>
        </div>
          <div id="delete_obj_id" name=""></div>
      </div>
      <div class="modal-footer">
        {% block submit_button %}{% endblock %}
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"> 取消</button>
      </div>
    </div>
  </div>
</div>
