{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>GFI - TF-LineMRS Login</title>
	<link rel="stylesheet" type="text/css" href="{% static 'auth/login_style.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<img class="wave" src="{% static 'img/wave.png' %}">
	<div class="container">
		<div class="img">
			<img src="{% static 'img/bg.svg' %}">
		</div>

		<div class="login-content">
			<form method="post">
				{% csrf_token %}
				<img src="{% static 'img/avatar.svg' %}">
				<h2 class="title">北榮檢體系統</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Account</h5>
           		   		<input type="text" class="input" id="account" name="account">
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i">
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Password</h5>
           		    	<input type="password" class="input" id="password" name="password">
            	   </div>
            	</div>
            	<a href="#">Forgot Password?</a>
            	<input type="submit" class="btn" value="Login">
				{% if error_msg %}
					<div style="color:red">{{ error_msg }}</div>
				{% else %}
				{% endif %}
            </form>
        </div>
    </div>
	{#% include 'modal/failure.html' %#}
<!--	<script src="{% static 'bootstrap_SB/vendor/jquery/jquery.min.js' %}"></script>-->
    <script type="text/javascript" src="{% static 'auth/main.js' %}"></script>
<!--	<script src="{% static 'auth/login.js' %}"></script>-->
</body>
</html>

